<%= form_with(model: admin_db_configuration, local: true) do |form| %>
  <% if admin_db_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_db_configuration.errors.count, "error") %> prohibited this admin_db_configuration from being saved:</h2>

      <ul>
      <% admin_db_configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
